.portfolio{
    padding: 50px 100px;
    max-width: 1500px;
    margin: 50px auto 100px auto;

    &__title{
        @extend %main-title;
        text-align: center;
    }

    &__sections{
        list-style: none;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 10px 0 100px 0;

        & li {
            position: relative;
            font-family: 'MADE Soulmaze';
            font-size: 1.125rem;
            color: $dark-color;
            width: 400px;
            cursor: pointer;

            &::after{
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $dark-color;

            }

            &.active{
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &::after{
                    content: "";
                    @include linear-gradient($primary-color, $secondary-color);
                    height: 4px;
                    bottom: -6px;
                }
            }
        }
    }

    &__dev{
        display: flex;
        align-items: center;
        column-gap: 50px;

        &__left {
            max-width: 700px;
            margin-right: auto;
            align-self: center;
            & h3{
                @extend %main-title;
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            & p {
                font-family: 'Inter';
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: left;
                margin: 22px 0;
            }

            &__links{
                display: flex;
                justify-content: space-between;

                & a {
                    display: flex;
                    column-gap: 10px;
                    font-family: 'MADE Soulmaze';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;

                    color: transparent;
                    background: linear-gradient(138.86deg, #7F92D5 14.46%, #BF7FD5 102.17%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            &__arrows{
                margin-top: 75px;
                display: flex;
                align-items: center;
                gap: 20px;

                & .counter{
                    font-family: 'MADE Soulmaze';
                    color: $dark-color;
                    font-weight: 300;
                    font-size: 16px;
                    font-style: italic;
                }
            }
        }
        
        &__photo{
            position: relative;
            width: 25em;
            height: 25em;
            background-color: red;
            flex-shrink: 0;

            box-shadow: 0px 10px 24px 10px rgba(0, 0, 0, 0.25);


            &::after{
                content: url("../img/blob2.svg");
                position: absolute;
                z-index: -99;
                top: 50%;
                left: 70%;
                transform: translate(-50%,-50%);
            }

            & img{
                opacity: 0;
                transition: .6s opacity ease-in-out;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @include linear-gradient($primary-color,$secondary-color);
                padding: 16px 8px;
                margin: 10px;
                cursor: pointer;
                &:first-child{
                    transform:translateY(-50%) rotate(180deg);
                }

                &:last-child{
                    right: 0;
                }
            }

            &:hover img{
                opacity: 1;
                transition: .2s opacity ease-in-out;
            }

        }
        

        
    }
}

.arrow-left{
    transform: rotate(180deg);
}

@media screen and (max-width:1024px) {
    .portfolio__dev{
        flex-direction: column-reverse;

        &__left{
            margin: 40px 0 0 0;
            text-align: center;

            &__arrows{
                display: none;
            }
        }

        &__photo::after{
            display: none;
        }

        &__photo img{
            opacity: 1;
        }
    }
}